@font-face {
    font-family: VAG Rounded Regular;
    src: url(../fonts/VAGRoundedRegular.ttf);
}

@font-face {
    font-family: VAG Rounded Bold;
    src: url(../fonts/VAGRoundedBlack.ttf);
}

* {
    font-family: VAG Rounded Regular;
}